@media (max-width: 576px){
    h1{
        font-size: 40px;
    }
    .ano{
        width: 400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    
}